.left {
    width:250px;
}
.right {
    flex: 1 1 0;
}

/* DetailPage */
.detail__page{
    padding-top: 24px;
}
.detail__left{
    width:444px;
    height:auto;
    padding: 1.5em;
    border-right: 2px solid #f5f5f5;
    border-bottom: 1px solid #80808029;
}
.detail__right {
    padding: 1.5em;
    flex : 1 1 0;
}
.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width:100%;
}
.container {
    display: flex;
}
/* end DetailPage */




